<div class="col-lg-4 student">
  <%= gravatar_for student, size: 50 %>
  <%= link_to student.name, student %>
  <% if admin_logged_in? %>
    | <%= link_to "delete", student, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</div>
