<li>
  <%= gravatar_for student, size: 50 %>
  <%= link_to student.name, student %>
  <% if current_student.admin? && !current_student?(student) %>
    | <%= link_to "delete", student, method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>
