<% provide(:title, 'All students') %>
<h1 class="h1-design">高校生一覧</h1>

<div class="index students">
  <div class="will-paginate">
    <%= will_paginate %>
  </div>
  <div class="container">
    <div class="row">
      <%= render @students %>
    </div>
  </div>
  <div class="will-paginate">
    <%= will_paginate %>
  </div>
</div>
