<% provide(:title, 'All schools') %>
<h1 class="h1-design">学校一覧</h1>

<div class="index schools">
  <div class="will-paginate">
    <%= will_paginate %>
  </div>
  <div class="container">
    <div class="row">
      <%= render @schools %>
    </div>
  </div>
  <div class="will-paginate">
    <%= will_paginate %>
  </div>
</div>
