<h1>Labo Reach</h1>

<p>Hi <%= @student.name %>,</p>

<p>
  Welcome to Labo Reach! Click on the link below to activate your account:
</p>

<%= link_to "Activate", edit_student_account_activation_url(@student.activation_token, email: @student.email) %>
