@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-light: #dddddd;
$main-blue: #123166;


@mixin box_sizing {

  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.container {
  width: 100%;
}

.center {
  text-align: center;
}

.main-blue {
  color: $main-blue;
}

.h1-design {
  text-align: center;
  color: $main-blue;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 48px;
  letter-spacing: -2px;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

header {
  background-color: white;
  .logo {
    float: left;
    margin-right: 10px;
    margin-left: 50px;
    font-size: 1.7em;
    color: $main-blue;
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    position: relative;
    display: inline-block;
    text-decoration: none;
  }

  .logo:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    top:100%;
    left: 0;
    border-radius: 3px;
    background:$main-blue;
    transition: .2s;
  }

  .logo:hover:before {
    top: -webkit-calc(100% - 3px);
    top: calc(100% - 3px);
  }

  .nav {
    li {
      a {
        color: $main-blue;
        font-weight: bold;
      }
    }
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 5px dotted $main-blue;
  color: $main-blue;
  a {
    color: $main-blue;
  }
  small {
    float: left;
  }
  ul {
   float: right;
   list-style: none;
   li {
    float: left;
    margin-left: 15px;
  }
 }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.gravatar {
  //float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

// 各ページのCSS

// home.html.erb

.top-wrapper {
  .top-img {
    height: 550px;
    img {
      width: 100%;
    }
  }
  #top-slide{
    position:relative;
    img {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  .top-school-logo-wrapper {
    text-align: center;
    margin-bottom: 25px;
  }
}

.top-register-wrapper {
  padding-top: 20px;
  .register-button-wrapper {
    text-align: center;
    .btn-border-bottom {
      position: relative;
      display: inline-block;
      font-weight: bold;
      padding: 0.25em 0;
      text-decoration: none;
      color: $main-blue;
      margin: 0 25px;
      font-size: 20px;
    }

    .btn-border-bottom:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      top:100%;
      left: 0;
      border-radius: 3px;
      background: $main-blue;
      transition: .2s;
    }

    .btn-border-bottom:hover:before {
      top: -webkit-calc(100% - 3px);
      top: calc(100% - 3px);
    }
  }
}

// students/new.html.erb

.h1-signup {
  text-align: center;
  color: $main-blue;
}

.student-signup {
  .label {
    color: $main-blue;
    font-size: 15px;
    padding: 8px 0;
  }
  .btn {
    background-color: $main-blue;
  }
}

// schools/new.html.erb

.h1-signup {
  text-align: center;
  color: $main-blue;
}

.school-signup {
  .label {
    color: $main-blue;
    font-size: 15px;
    padding: 8px 0;
  }
  .btn {
    background-color: $main-blue;
  }
}

// student_sessions/new.html.erb

.h1-login {
  text-align: center;
  color: $main-blue;
  margin-bottom: 40px;
}

.student-login {
  .label {
    color: $main-blue;
    font-size: 15px;
    padding: 8px 0;
  }
  .btn {
    background-color: $main-blue;
  }
  .forgot-password {
    color: $main-blue;
    :hover {
      color: $main-blue;
    }
  }
}

// school_sessions/new.html.erb

.h1-login {
  text-align: center;
  color: $main-blue;
  margin-bottom: 40px;
}

.school-login {
  .label {
    color: $main-blue;
    font-size: 15px;
    padding: 8px 0;
  }
  .btn {
    background-color: $main-blue;
  }
  .forgot-password {
    color: $main-blue;
    :hover {
      color: $main-blue;
    }
  }
}

// laboratories/index.html.erb

.index {
  padding: 0px 100px;
}

.laboratories {
  padding: 0;
  .will-paginate {
    text-align: center;
  }
  .laboratory {
    height: 500px;
    .lab-img {
      width: 100%;
      height: 250px;
      background-color: lightgray;
      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }
    .name {
      font-size: 20px;
      .gravatar {
        margin-right: 10px;
        margin-left: 5px;
        margin-bottom: 2px;
        //margin-top: 5px;
      }
    }
    .content {
      word-break: break-all;
    }
    .posted-time {
      float: right;
    }
  }
}

// rooms/index.html.erb

.rooms {
  .h1-design {
    margin-bottom: 50px;
  }
  .students {
    padding: 0;
    .student {
      padding: 10px 70px;
      .enter-btn {
        display: inline-block;
        width: 200px;
        height: 25px;
        border: 1px solid $main-blue;
        border-radius: 5px;
        margin-top: 5px;
        text-align: center;
        line-height: 25px;
        color: $main-blue;
        text-decoration: none;
      }
      .create-btn {
        width: 200px;
        border-radius: 5px;
        margin-top: 5px;
      }
    }
  }
  .schools {
    padding: 0;
    .school {
      padding: 10px 70px;
      .enter-btn {
        display: inline-block;
        width: 200px;
        height: 25px;
        border: 1px solid $main-blue;
        border-radius: 5px;
        margin-top: 5px;
        text-align: center;
        line-height: 25px;
        color: $main-blue;
        text-decoration: none;
      }
      .create-btn {
        width: 200px;
        border-radius: 5px;
        margin-top: 5px;
      }
    }
  }
}



// rooms/show.html.erb

.chat-room-wrapper {
  .chat-field {
    overflow-y: scroll;
    overflow-x: hidden;
    width: 80%;
    margin: 0 auto;
    height: 500px;
    .messages {
      span {
        display: inline-block;
        padding: 3px 8px;
        background-color: lightgray;
        border-radius: 3px;
        margin: 3px 6px 3px 6px;
      }
    }
  }
  .student-field {
    .student-message {
      text-align: right;
    }
    .school-message {
      text-align: left;
    }
  }
  .school-field {
    .student-message {
      text-align: left;
    }
    .school-message {
      text-align: right;
    }
  }
  form {
    margin: 10px auto;
    width: 80%;
    .message_content {
      border-radius: 4px;
    }
    .submit-btn {
      border: 1px solid $main-blue;
      border-radius: 4px;
      color: $main-blue;
    }
  }
}

/* students/index.html.erb */

.index {
  padding: 0px 100px;
}

.students {
  padding: 0px;
  .will-paginate {
    text-align: center;
  }
  .student {
    margin: 20px 0px;
    //font-size: 20px;
  }
}


/* schools/index.html.erb */

.index {
  padding: 0px 100px;
}

.schools {
  padding: 0px;
  .will-paginate {
    text-align: center;
  }
  .school {
    margin: 20px 0px;
    //font-size: 20px;
  }
}

/* students/edit.html.erb */

.student-update {
  .label {
    color: $main-blue;
    font-size: 15px;
    padding: 8px 0;
  }
  .btn {
    background-color: $main-blue;
  }
}

/* schools/edit.html.erb */

.school-update {
  .label {
    color: $main-blue;
    font-size: 15px;
    padding: 8px 0;
  }
  .btn {
    background-color: $main-blue;
  }
}

/* events/index.html.erb */
/* schools/show.html.erbの一部 */

.index {
  padding: 0px 100px;
}

.events {
  padding: 0;
  .will-paginate {
    text-align: center;
  }
  .event {
    height: 500px;
    .event-img {
      width: 100%;
      height: 250px;
      background-color: lightgray;
      img {
        width: 100%;
        height: 250px;
        object-fit: cover;
      }
    }
    .name {
      font-size: 20px;
      .gravatar {
        margin-right: 10px;
        margin-left: 5px;
        margin-bottom: 2px;
        //margin-top: 5px;
      }
    }
    .content {
      word-break: break-all;
    }
    .posted-time {
      float: right;
    }
  }
}

/* schools/show.html.erb */

.school_info {
  //border-bottom: 3px solid $main-blue;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: $main-blue;
}

.event-lab-form {
  color: $main-blue;
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

/* students/show.html.erb */

.student_info {
  //border-bottom: 3px solid $main-blue;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: $main-blue;
}

/* events/show.html.erb */
/* laboratories/show.html.erb */

.event-labo-show-wrapper {
  width: 80%;
  margin: 40px auto;
  .name {
    font-size: 30px;
    margin-bottom: 20px;
    .gravatar {
      margin-right: 10px;
      margin-left: 5px;
      margin-bottom: 2px;
      //margin-top: 5px;
    }
  }
  .img {
    width: 100%;
    height: 350px;
    background-color: lightgray;
    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
  }
  .content {
    word-break: break-all;
    margin-bottom: 20px;
  }
  .button-wrapper {
    text-align: center;
    .btn-border-bottom {
      position: relative;
      display: inline-block;
      font-weight: bold;
      padding: 0.25em 0;
      text-decoration: none;
      color: $main-blue;
      margin: 0 25px;
      font-size: 20px;
    }

    .btn-border-bottom:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      top:100%;
      left: 0;
      border-radius: 3px;
      background: $main-blue;
      transition: .2s;
    }

    .btn-border-bottom:hover:before {
      top: -webkit-calc(100% - 3px);
      top: calc(100% - 3px);
    }
  }
}


/* ? */

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}
